/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=IM+Fell+Great+Primer+SC&family=IM+Fell+Great+Primer:ital@0;1&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Satisfy&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  background-color: #f3e9d2;
  background-image: linear-gradient(
      90deg,
      transparent 50%,
      rgba(238, 10, 10, 0.04) 50%
    ),
    linear-gradient(90deg, transparent 50%, rgba(230, 0, 0, 0.04) 50%),
    linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
  background-size: 50px 50px, 100px 100px, 100% 100%;
  background-position: 50% 50%, 0 0, 0 0;
  font-family: "IM Fell Great Primer SC", sans-serif;
  margin: 0px;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
}

/* header */
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #f7efdb, #e2d5b7 60%, #c9b084);
  padding: 1rem 1rem;
  width: 100vw;
  z-index: 99;
}

#heading {
  font-size: 2.5rem;
  text-align: center;
  color: #b1454a;
  padding-top: 80px;
  z-index: -3;
}

#logo-svg {
  width: 2rem;
  height: 2rem;
  fill: #b1454a;
}

nav {
  position: absolute;
  top: 100%;
  background-color: #c9b084;
  width: 100%;
  left: 0;
  right: 0;
  height: 10vh;
  padding: 1rem 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  text-decoration: none;
  z-index: 1;
}

nav a {
  text-decoration: none;
  color: #b1454a;
  z-index: 1;
}

nav li {
  list-style-type: none;
  justify-content: center;
  padding-top: 10px;
  z-index: 1;
}

/* Hamburger Menu Icon */
label[for="menu-toggle"] {
  display: none;
  cursor: pointer;
  font-size: 50px;
  position: absolute;
  top: 10px;
  right: 5px;
  height: 2.5rem;
  color: #b1454a;
}

#menu-toggle:checked + #menu-icon {
  transform: rotate(90deg);
}

#menu-toggle:checked ~ #nav-menu {
  display: block;
}

#menu-icon {
  display: none;
}

#menu-toggle {
  display: none; /* Hide the actual checkbox */
}

#menu-icon {
  cursor: pointer;
  font-size: 30px;
  display: block;
}

/* background image */
.background-img {
  transition: all 0.9s;
  position: absolute;
  background-image: url("../images/images_desktop/VELI-1.webp");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  opacity: 2;
  z-index: -1;
}

.background-img:hover {
  opacity: 0.5;
  transform: scale(1.05);
}

/* Biography page hero img */

.biography-hero-image {
  position: relative; /* Enabling positioning within the container */
  top: 2rem;
  width: 100%; /* Taking up the full width of the page on mobile */
  height: auto; /* Keeping the original aspect ratio */
  display: block; 
  z-index: -1;
}

.biography-hero-image img {
  width: 100%;
  height: auto; 
  display: block; 
  margin: 0 auto; 
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  transition: all 0.9s;
  box-shadow: 0px 0px 10px rgba(236, 23, 23, 0.658);
}

/* Dates */
.dates {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; 
  text-align: center; 
  font-family: "IM Fell Great Primer SC", sans-serif; 
  margin-top: 1rem; 
  padding-bottom: 1rem;
  transition: all 1s;
  box-shadow: 0px 0px 10px rgba(236, 23, 23, 0.658);
  border-radius: 10px;
}

.born,
.died {
  font-size: 10px;
  transition: all 0.5s;
}

.date {
  font-size: 28px;
  font-weight: bold; 
  margin-bottom: 5px; 
  transition: all 0.9s;
}

.separator {
  display: block;
  width: 50%; 
  font-size: large;
}

.location {
  font-size: 18px; 
  font-style: italic; 
  margin-bottom: 10px; 
  transition: all 1.5s;
}

/* Biography Styles */
.biography-section {
  position: relative;
  top: 3rem;
  width: 100%;
  padding: 1rem;
  font-family: "IM Fell Great Primer SC", sans-serif; /* Vintage font */
  background-color: #f9f4e0; /* Vintage background color */
  box-shadow: 0px 0px 10px rgba(236, 23, 23, 0.658);
}

.biography-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 1rem;
  color: #5a4e42; /* Vintage text color */
}

.biography-content {
  align-self: center;
  width: 90%; /* Allowing some padding around the content */
  max-height: 305rem; /* Setting a maximum height for the scrollable container */
  margin: 0 auto; /* Centering the container */
  text-align: justify; /* Justifying the text */
  line-height: 1.5; /* Improving readability */
  color: #181614; /* Vintage text color */
}

.biography-content h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* explore-more button */
.explore-more {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.9s;
  background-color: #b1454a;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #fff;
  font-family: "IM Fell Great Primer SC", sans-serif;
  font-size: 18px;
  transition: 0.3s;
  z-index: 1;
}

.explore-more:hover {
  background-color: #fff; 
  color: #8c7851; 
  border: 2px solid #8c7851; 
}

/* Quotes Stylings */

.quote {
  font-family: "IM Fell Great Primer SC", sans-serif;
  font-size: 1.3rem;
  margin: 20px;
  padding: 20px;
  display: none; 
  background: rgba(0, 0, 0, 0.5);
  padding: 10px; 
  color: #fff; 
}



.quote {
  position: relative;
  padding-left: 0.5rem;
  transform: scale(0.5rem);
  transition: all 1s ease-out;
  top: 4rem;
}

#quote1 {
  display: block; 
  word-spacing: 2px;
  text-align: center;
}

#quote2 {
  position: relative;
  display: block; 
  word-spacing: 2px;
  top: 70rem;
}

#quote3 {
  position: relative;
  display: block; 
  word-spacing: 2px;
  top: 95rem;
}

#quote4 {
  position: relative;
  display: block; 
  word-spacing: 2px;
  top: 185rem; 
}

/* Youtube video */
.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
  z-index: -1;
}

.video-container iframe {
  position: absolute;
  display: block;
  top: 60rem;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px rgba(236, 23, 23, 0.658);
}

/* Literary Works */
.literary-works {
  position: relative;
  display: block;
  top: 78rem;
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  background-color: #f9f4e0; 
  transition: all 0.5s;
  z-index: -1;
}

.literary-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 0.5rem;
  color: #5a4e42; 
}

.works-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin: 3rem auto;
}

.work {
  width: 30%; 
  text-align: center; 
  margin: 1rem;
}

.work img {
  max-width: 100%; 
  height: auto;
  display: block; 
  margin: 0 auto;
}

.work h2 {
  font-size: 20px;
  margin-top: 10px;
}

.work a {
  color: #b1454a;
}

/* Footer Styles */
#site-footer  {
  list-style-type: none;
  color: #b33a3a; 
  padding: 5px 0; 
  text-align: center; 
  word-spacing: 20px; 
  position: relative;
  left: 0; 
  width: 100%; 
  z-index: 1;
}

#site-footer-bio {
  list-style-type: none;
  color: #b33a3a; 
  padding: 5px 0; 
  text-align: center; 
  word-spacing: 20px; 
  position: relative;
  left: 0; 
  width: 100%; 
  z-index: 1;
}

.footer-link {
  list-style-type: none; 
  text-decoration: none; 
  color: #5e3939; 
}

#site-footer li {
  font-size: 170%;
  padding: 0.5rem;
}

#site-footer-bio li {
  font-size: 170%;
  padding: 0.5rem;
}

#site-footer {
  list-style-type: none;
  background: linear-gradient(to bottom, #f7efdb, #e2d5b7 60%, #c9b084);
  box-shadow: #b1454a;
  top: 85rem; 
}

#site-footer-bio {
  list-style-type: none;
  background: linear-gradient(to bottom, #f7efdb, #e2d5b7 60%, #c9b084);
  box-shadow: #b1454a;
  top: 5rem; 
}